# Python

## What is Python?
Python is a **popular** and **versatile** programming language that is easy to read and write, making it suitable for **beginners and experts**. It is a:

- **High-level** language (abstracts complex details)
- **Interpreted** language (no compilation required)
- **Object-Oriented** language (supports OOP concepts)

```python
# Example: Simple Python Code
print("Hello, Welcome to Python NoteBook")
```

---

## Why Should We Use Python for Data Science?
Python is chosen for **data science** due to its:

- **Simplicity** ‚Äì Easy to write and read
-  **Extensive Libraries** ‚Äì NumPy, Pandas, Matplotlib, Scikit-learn, etc.
- **Strong Support** ‚Äì Machine learning and data visualization tools

---

## Features of Python

- **Simple and Easy to Learn** ‚Äì Beginner-friendly syntax.
- **Open Source** ‚Äì Free to use.
- **Interpreted Language** ‚Äì Executes code line-by-line.
- **Platform Independent** ‚Äì Works on Windows, Linux, and macOS.
- **Dynamically Typed** ‚Äì No need to declare data types.
- **Rich Libraries** ‚Äì Supports AI, ML, Data Science, and more.
- **Function-Oriented and Object-Oriented** ‚Äì Supports both paradigms.

```python
# Example: Dynamic Typing in Python
a = 10      # Integer
a = "Hello" # Now it's a string
print(a)
```

---

## What are Python Modules?
Python **modules** are files containing **Python code** (functions, classes, variables) that allow **code reuse** and **organization**.

üìå **Types of Modules:**
1. **Built-in Modules** ‚Äì Pre-installed (e.g., `math`, `os`)
2. **User-defined Modules** ‚Äì Custom-created files
3. **External Modules** ‚Äì Installed via pip (`numpy`, `pandas`)

```python
# Example: Using a Built-in Module
import math

print(math.sqrt(25))  # Output: 5.0
```

```python
# Example: Creating a User-defined Module
# Save this as mymodule.py

def greet(name):
    return f"Hello, {name}!"

# Importing and using the module
import mymodule
print(mymodule.greet("Deepraj"))
```

## Comments in Python
Comments in Python are used to add **explanations** and **increase code readability**. They are ignored by the Python interpreter.

### üìå Types of Comments:
1. **Single-line comments** ‚Äì Start with `#`.
2. **Multi-line comments** ‚Äì Enclosed within `''' '''` or `""" """`.

### üõ† When to Use Comments?
- To **explain** the purpose of code.
- To **debug** by temporarily removing lines from execution.
- To **increase readability** for future reference.

### üîπ Examples:

In [ ]:
# This is a single-line comment
print("Hello, World!")  # This prints a message

'''
This is a multi-line comment.
It can be used to explain complex logic.
'''

def add(a, b):
    """This function adds two numbers"""
    return a + b

print(add(2, 3))

Hello, World!
5

## Identifier
An **identifier** is the name used to **identify variables, functions, classes, modules, or any user-defined object** in Python.

### - Rules of Identifiers:
1. It **must start** with a letter (`a-z`, `A-Z`) or an underscore (`_`).
2. It **cannot start** with a number (`0-9`).
3. Python is **case-sensitive** (`variable` and `Variable` are different).
4. It **cannot be a reserved keyword** (e.g., `if`, `while`, `for`).
5. It **can contain letters, digits, and underscores** but cannot have ##spaces or special characters like `@`, `#`, `!`.
6. Identifiers should be **meaningful** to improve code readability.
7. Python does not allow the use of special symbols like `@, $, %` in identifiers.
8. Identifiers can be of **any length**, but shorter and descriptive names are recommended.

### üîπ Examples:

In [ ]:
# Valid identifiers
name = "Deepraj"  # Variable
_age = 25         # Variable with underscore
MyClass = "Python"

def my_function():
    print("This is a function identifier")

# More valid identifiers
user_name = "Alice"
userAge = 30
PI = 3.14159
_class = "Data Science"
student1 = "John"

In [ ]:
# Invalid identifiers (will cause errors)
# 1name = "Invalid"  # Cannot start with a number
# if = "keyword"      # Cannot use reserved keywords
# my-variable = "wrong"  # Hyphens are not allowed

#### Invalid identifiers (will cause errors)

## Operators in Python

Operators are **symbols** or **special characters** that allow you to perform **operations** on variables, values, or expressions. Python supports different types of operators to perform mathematical, logical, and other operations efficiently.

---

## Types of Operators in Python

Python provides the following types of operators:

1. **Arithmetic Operators**
2. **Logical Operators**
3. **Bitwise Operators**
4. **Assignment Operators**
5. **Relational (Comparison) Operators**
6. **Membership Operators**
7. **Identity Operators**

Let's explore each type in detail with examples.

---

## 1Ô∏è‚É£ Arithmetic Operators
Arithmetic operators are used to perform basic mathematical operations like addition, subtraction, multiplication, etc.

| Operator | Description | Example |
|----------|-------------|---------|
| `+` | Addition | `10 + 5 = 15` |
| `-` | Subtraction | `10 - 5 = 5` |
| `*` | Multiplication | `10 * 5 = 50` |
| `/` | Division (Floating) | `10 / 3 = 3.33` |
| `//` | Floor Division | `10 // 3 = 3` |
| `%` | Modulus (Remainder) | `10 % 3 = 1` |
| `**` | Exponentiation | `2 ** 3 = 8` |

In [ ]:
# Examples of Arithmetic Operators
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

## 2Ô∏è‚É£ Logical Operators
Logical operators are used to combine multiple conditions and return **True** or **False**.

| Operator | Description | Example |
|----------|-------------|---------|
| `and` | Returns `True` if both conditions are `True` | `(5 > 3) and (10 > 2) ‚Üí True` |
| `or` | Returns `True` if at least one condition is `True` | `(5 > 3) or (10 < 2) ‚Üí True` |
| `not` | Reverses the condition's result | `not(5 > 3) ‚Üí False` |

In [ ]:
x = True
y = False
print("AND Operator:", x and y)
print("OR Operator:", x or y)
print("NOT Operator:", not x)

AND Operator: False
OR Operator: True
NOT Operator: False

## 3Ô∏è‚É£ Bitwise Operators
Bitwise operators perform operations on binary numbers (bits).

| Operator | Description | Example (Binary) |
|----------|-------------|------------------|
| `&` | AND | `5 & 3` ‚Üí `101 & 011` = `001 (1)` |
| `|` | OR | `5 | 3` ‚Üí `101 | 011` = `111 (7)` |
| `^` | XOR | `5 ^ 3` ‚Üí `101 ^ 011` = `110 (6)` |
| `~` | NOT (bitwise complement) | `~5` ‚Üí `-(5+1) = -6` |
| `<<` | Left Shift | `5 << 1` ‚Üí `101 << 1` = `1010 (10)` |
| `>>` | Right Shift | `5 >> 1` ‚Üí `101 >> 1` = `10 (2)` |

In [ ]:
a = 5  # 101 in binary
b = 3  # 011 in binary
print("Bitwise AND:", a & b)
print("Bitwise OR:", a | b)
print("Bitwise XOR:", a ^ b)
print("Bitwise NOT:", ~a)
print("Left Shift:", a << 1)
print("Right Shift:", a >> 1)

Bitwise AND: 1
Bitwise OR: 7
Bitwise XOR: 6
Bitwise NOT: -6
Left Shift: 10
Right Shift: 2



## 4Ô∏è‚É£ Assignment Operators
Assignment operators assign values to variables and perform shorthand operations.

| Operator | Example | Equivalent To |
|----------|---------|---------------|
| `=` | `a = 10` | `a = 10` |
| `+=` | `a += 5` | `a = a + 5` |
| `-=` | `a -= 5` | `a = a - 5` |
| `*=` | `a *= 5` | `a = a * 5` |
| `/=` | `a /= 5` | `a = a / 5` |

In [ ]:
a = 10  # Assigning initial value
print(f'Initial value of a: {a}')

# Using += operator
a += 5  # Equivalent to a = a + 5
print(f'After a += 5, a: {a}')

# Using -= operator
a -= 3  # Equivalent to a = a - 3
print(f'After a -= 3, a: {a}')

# Using *= operator
a *= 2  # Equivalent to a = a * 2
print(f'After a *= 2, a: {a}')

# Using /= operator
a /= 4  # Equivalent to a = a / 4
print(f'After a /= 4, a: {a}')

# Using //= operator (floor division)
a //= 2  # Equivalent to a = a // 2
print(f'After a //= 2, a: {a}')

# Using %= operator (modulus)
a %= 3  # Equivalent to a = a % 3
print(f'After a %= 3, a: {a}')

# Using **= operator (exponentiation)
a = 2  # Reset a
a **= 3  # Equivalent to a = a ** 3
print(f'After a **= 3, a: {a}')

Initial value of a: 10
After a += 5, a: 15
After a -= 3, a: 12
After a *= 2, a: 24
After a /= 4, a: 6.0
After a //= 2, a: 3.0
After a %= 3, a: 0.0
After a **= 3, a: 8

---

## 5Ô∏è‚É£ Relational (Comparison) Operators
Relational operators compare two values and return **True** or **False**.

| Operator | Description | Example |
|----------|-------------|---------|
| `==` | Equal to | `5 == 5 ‚Üí True` |
| `!=` | Not equal to | `5 != 3 ‚Üí True` |
| `>` | Greater than | `5 > 3 ‚Üí True` |
| `<` | Less than | `5 < 3 ‚Üí False` |

In [ ]:
a = 5
b = 3
print("a:",a)
print("b:",b)
print(f'Equal to (a == b): {a == b}')
print(f'Not equal to (a != b): {a != b}')
print(f'Greater than (a > b): {a > b}')

a: 5
b: 3
Equal to (a == b): False
Not equal to (a != b): True
Greater than (a > b): True

---

## 6Ô∏è‚É£ Membership Operators
Membership operators check if a value is in a sequence (like a list, tuple, or string).

| Operator | Description | Example |
|----------|-------------|---------|
| `in` | Returns `True` if the value exists in the sequence | `'a' in 'apple' ‚Üí True` |
| `not in` | Returns `True` if the value does not exist | `'z' in 'apple' ‚Üí False` |

In [ ]:
lst= [1, 2, 3, 4, 5]
print(3 in lst)
print(10 not in lst)

True
True

## Basic Functions in Python

Python provides several built-in functions to perform common operations efficiently. Here, we will cover important functions in depth with explanations and multiple examples.

### 1Ô∏è‚É£ `print()` - Display Output
The `print()` function is used to display output on the console.

In [ ]:
print("Hello, World!")
name = "Python"
print("Welcome,", name)

Hello, World!
Welcome, Python

In [ ]:
name = 'Python'
print(f"Welcome {name}")

Welcome Python

üîπ **Multiple Arguments:** You can pass multiple arguments separated by a comma.

In [ ]:
print("Python", "is", "awesome!")

Python is awesome!

In [ ]:
print("python","is","Best","language")

python is Best language

üîπ **Custom Separator:** Change the default space separator.

In [ ]:
print("Python", "Java", "C++", sep=" | ")

Python | Java | C++

üîπ **End Parameter:** Modify the default newline behavior.

In [ ]:
print("Hello", end=" ")
print("World!")

Hello World!

### 2Ô∏è‚É£ `input()` - Taking User Input

The `input()` function allows the user to provide input via the keyboard.

In [ ]:
# Example: Taking user input
user_name = input("Enter your name: ")
print("Hello,", user_name)

Enter your name: Deepraj
Hello, Deepraj

*üîπ* **Input as Integer:** Convert the input to a specific data type.

In [ ]:
age = int(input("Enter your age: "))
print("Your age is:", age)

Enter your age: 24
Your age is: 24

*üîπ* **Input as float:** Convert the input to a specific data type.

In [ ]:
pi_value = float(input("Enter the value of pi: "))
print("The value of pi is:", pi_value)

Enter the value of pi: 10 20 30

ValueError: could not convert string to float: '10 20 30'

üîπ **Handling Multiple Inputs:**

In [ ]:
x, y = input("Enter two numbers: ").split()
print("First number:", x)
print("Second number:", y)

In [ ]:
a,b,c,d = input("Enter your Numbers:").split()
print("First number:", a)
print("Second number:", b)
print("Third number:", c)
print("Fourth number:", d)

### 3Ô∏è‚É£ `len()` - Get Length of an Object
The `len()` function returns the number of items in an object like a string, list, tuple, or dictionary.

In [ ]:
word = "Python"
print("String Length:", len(word))

üîπ **Length of a Dictionary (Number of Key-Value Pairs)**

In [ ]:
data = {"name": "Akshay", "age": 25, "city": "Mumbai"}
print("Dictionary Length:", len(data))


### 4Ô∏è‚É£ `id()` - Get Memory Address
The `id()` function returns the unique memory address of an object.

In [ ]:
# Example: Checking memory address
a = 42
print("Memory Address of a:", id(a))
b = 42
print("Memory Address of b:", id(b))

In [ ]:
a = 10
b=a
print("Memory Address of a:", id(a))
print("Memory Address of b:", id(b))

- In Python, small integers (like 100) are **interned**, meaning they are stored in a single memory location to save space. So, when you assign a = **100** and b = **100**, both variables refer to the **same memory address**. This is why id(a) and id(b) return the same address.

üîπ **Different Memory Address for Different Objects**

In [ ]:
a = 100
b=110
print("Memory Address of a:", id(a))
print("Memory Address of b:", id(b))

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
print(id(x), id(y))

In [ ]:
x == y

### 5Ô∏è‚É£ `help()` - Display Documentation
The `help()` function provides documentation and usage information about Python objects, functions, or modules.

In [ ]:
# Example: Using help()
help(print)
help(len)

üîπ **Using help() on Modules**

In [ ]:
import math
help(math)

### 6Ô∏è‚É£ `type()` - Get Data Type
The `type()` function returns the data type of a variable or value.

In [ ]:
# Example: Checking variable type
x = 10
print(type(x))

y = 3.14
print(type(y))

z = "Python"
print(type(z))

## Data Types in Python

Data types in Python represent the **type or category** of data stored in variables. Python is a **dynamically typed** language, meaning you don't need to explicitly declare the data type when defining a variable; the interpreter determines it automatically based on the assigned value.

---
## What are the Different types **Data Types** Available in Python ?
![Screenshot 2025-03-08 225105.png]()


## Basic Data


## 1. Numeric Data Types

#### Numeric data types represent numbers and include:


| Data Type | Description | Example |
|-----------|-------------|---------|
| `int` | Integer numbers | `x = 10` |
| `float` | Decimal (floating-point) numbers | `y = 3.14` |
| `complex` | Complex numbers (real + imaginary) | `z = 2 + 3j` |

## 1.1 **int Data Type in python**

|`int` --> Integer numbers |

In [ ]:
# Integer example
num1 = 100
print("num1:",num1)
print(type(num1))

In [ ]:
num2 = 0
print("num2:",num2)
print(type(num2))

In [ ]:
num3 = -1
print("num3:",num3)
print(type(num3))

In [ ]:
# Float example
num2 = 10.5
print(type(num2))

## 1.2 **Float Data Type in Python**
In Python, the float data type is used to represent decimal (floating-point) numbers. It allows storing numbers with a fractional component.

### Key Characteristics of Float:
- It represents real numbers with a **decimal point**.
- Can store positive and negative decimal values.
- Supports scientific notation (e.g., 1.5e3 for 1500.0).
- Used in mathematical calculations that require precision.

In [ ]:
# Defining float values
num1 = 10.5
num2 = -3.14
num3 = 2.5e2

# Printing values and types
print("num1:",num1)
print(num1, type(num1))
print("num2:",num2)
print(num2, type(num2))
print(num3, type(num3))
print(num3, type(num3))

# Operations on float

In [ ]:
a = 5.5
b = 2.0

# Arithmetic operations
print("Adition:",a + b)
print("Substraction:",a - b)
print("Multiplication:",a * b)
print("Division:",a / b)
print("Square:",a ** b)

## 1.3 **Complex Data Types**

In [ ]:
# Complex number example
num1 = 2 + 3j
num2 = 4 - 5j
print("Num1:",num1)
print("Num2:",num2)

In [ ]:
print("Displaying the type of complex numbers")
print(type(num1))
print(type(num2))

In [ ]:
# Performing basic operations with complex numbers
sum_result = num1 + num2
print(f'Sum: {sum_result}')

diff_result = num1 - num2
print(f'Difference: {diff_result}')

prod_result = num1 * num2
print(f'Product: {prod_result}')

div_result = num1 / num2
print(f'Division: {div_result}')

# Accessing real and imaginary parts
print(f'Real part of num1: {num1.real}')
print(f'Imaginary part of num1: {num1.imag}')

```

```


---

## 2.Non  Numerical Data Types
## 2.1  **String Data Type**


## String Manipulation and Methods in Python

Strings in Python are **immutable sequences of characters**. Python provides a variety of built-in methods to manipulate and process strings efficiently.

A `string` is enclosed in single (`'`), double (`"`), or triple (`'''` or `"""`) quotes.
Let's explore the most commonly used string methods with examples.

---

# Python String Methods and Descriptions

| Method | Description |
|--------|------------|
| `capitalize()` | Converts the first character to uppercase and the rest to lowercase. |
| `casefold()` | Converts the string into lowercase for case-insensitive comparisons. |
| `center(width, fillchar)` | Centers the string with a specified width, using `fillchar` as padding (default is space). |
| `count(substring, start, end)` | Counts occurrences of `substring` between `start` and `end` indices. |
| `endswith(suffix, start, end)` | Checks if the string ends with the given `suffix`. |
| `find(substring, start, end)` | Returns the index of the first occurrence of `substring`, or `-1` if not found. |
| `index(substring, start, end)` | Same as `find()`, but raises a `ValueError` if `substring` is not found. |
| `isalnum()` | Returns `True` if all characters in the string are alphanumeric. |
| `isalpha()` | Returns `True` if all characters in the string are alphabetic. |
| `isdigit()` | Returns `True` if all characters in the string are digits. |
| `islower()` | Returns `True` if all characters in the string are lowercase. |
| `isspace()` | Returns `True` if the string contains only whitespace characters. |
| `istitle()` | Returns `True` if the string follows title case. |
| `isupper()` | Returns `True` if all characters in the string are uppercase. |
| `join(iterable)` | Joins elements of an iterable into a string with the calling string as a separator. |
| `lower()` | Converts all characters in the string to lowercase. |
| `upper()` | Converts all characters in the string to uppercase. |
| `replace(old, new, count)` | Replaces occurrences of `old` with `new`, up to `count` times. |
| `split(separator, maxsplit)` | Splits the string at `separator` into a list (default separator is whitespace). |
| `strip(chars)` | Removes leading and trailing characters (default is whitespace). |
| `swapcase()` | Swaps uppercase letters to lowercase and vice versa. |
| `title()` | Converts the first character of each word to uppercase. |
| `zfill(width)` | Pads the string with zeros (`0`) until it reaches the specified width. |

## 1Ô∏è‚É£ `len()` - Get Length of a String
The `len()` function returns the **number of characters** in a string, including spaces and special characters.

In [ ]:
text = "Hello, Python!"
print(len(text))

# Example with empty string
empty_str = ""
print(len(empty_str))


## 2Ô∏è‚É£ `lower()` - Convert to Lowercase
The `lower()` method converts **all uppercase** characters in a string to **lowercase**.

In [ ]:
text = "Python Programming"
print(text.lower())

# Example with mixed case
text2 = "PyThOn Is CoOl"
print(text2.lower())

## 3Ô∏è‚É£ `upper()` - Convert to Uppercase
The `upper()` method converts **all lowercase** characters in a string to **uppercase**.

In [ ]:
text = "Hello, Python!"
print(text.upper())

# Example with special characters
text2 = "hello@123"
print(text2.upper())

## 4Ô∏è‚É£ `strip()` - Remove Whitespace
The `strip()` method removes **leading and trailing spaces, tabs, and newline characters**.



üîπ **`lstrip()` and `rstrip()`:** Remove spaces only from the left or right side.

In [ ]:
text = "   Hello, World!   "
print("Split:",text.strip())

# Example with newline and tab characters
text2 = "\n\tHello Python!\t\n"
print("New line and tab:",text2.strip())
print("lstrip:",text.lstrip())
print("rstrip:",text.rstrip())



## 5Ô∏è‚É£ `split()` - Split a String into a List
The `split()` method **splits a string** into a list of substrings based on a separator.

In [ ]:
text = "Python is fun"
words = text.split()
print(words)

üîπ **Splitting using a custom delimiter:**

In [ ]:
csv_data = "apple,banana,grapes"
print(csv_data.split(","))

# Example with multiple spaces
text2 = "Python   is   powerful"
print(text2.split())

## 6Ô∏è‚É£ `join()` - Join List Elements into a String
The `join()` method combines **list elements into a single string** using a specified separator.

In [ ]:
words = ["Python", "is", "fun"]
print(" ".join(words))

üîπ **Joining with a different separator:**

In [ ]:
print("-".join(words))

üîπ **Joining characters of a string:**

In [ ]:
text = "HELLO"
print(" ".join(text))

## 7Ô∏è‚É£ `replace()` - Replace Substring
The `replace()` method **replaces occurrences** of a substring with another substring.

In [ ]:
text = "I love Java!"
print(text.replace("Java", "Python"))

üîπ **Replacing multiple occurrences:**

In [ ]:
text = "apple apple orange"
print(text.replace("apple", "banana"))  # Output: banana banana orange


üîπ **Replacing characters in a string:**

In [ ]:
text = "Hello World"
print(text.replace("o", "0"))

## 8Ô∏è‚É£ `startswith()` and `endswith()` - Check Start or End of String
These methods check whether a string starts or ends with a given substring.

In [ ]:
text = "Python Programming"
print(text.startswith("Python"))
print(text.endswith("Java"))

üîπ **Example with case sensitivity:**

In [ ]:
print(text.startswith("python"))
print(text.lower().startswith("python"))

## 2.2 **Boolean Data Type**
A `boolean` type represents one of **two** values: `True` or `False`.

### üîπ Examples:

In [ ]:
is_python_fun = True
print(type(is_python_fun))  # Output: <class 'bool'>


üîπ **Boolean Expressions:**

In [ ]:
print(10 > 5)   # Output: True
print(10 < 5)   # Output: False
print(bool(0))  # Output: False
print(bool(42)) # Output: True

## Indexing and Slicing in Python Strings

In Python, **indexing** is used to access individual characters in a string, while **slicing** is used to extract a portion (substring) of a string. Python supports both **positive and negative indexing**.

## 1Ô∏è‚É£ Indexing: Accessing Single Characters

Indexing allows us to retrieve a specific character from a string based on its position.
![image.png]()

üîπ **Python uses zero-based indexing**:
- The **first character** is at index `0`.
- The **last character** is at index `-1` (negative indexing).

### üîπ Example:

In [ ]:
a = "Python"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

print(a[-1])  # (Last character)
print(a[-3])

**Accessing characters dynamically:**

In [ ]:
word = "Python"
n = int(input("Enter an index: "))  # User inputs an index
print("Character at index", n, "is:", word[n])

### ‚õî **Trying to access an index that does not exist will raise an `IndexError`.**

In [ ]:

# text = "Hello"
# print(text[5])

---
## 2Ô∏è‚É£ Slicing: Extracting Substrings

Slicing allows extracting a substring from a string using the **slice operator `[start:stop:step]`**.



![image.png]()
---

üîπ **Parameters of Slicing:**
- `start`: The starting index (inclusive, default is `0`).
- `stop`: The ending index (exclusive, required).
- `step`: The increment between indices (default is `1`).

### üîπ Example:

In [ ]:
text = "Language"
print(text[0:5])
print(text[:5])
print(text[3:])
print(text[-7:-3])

## 3Ô∏è‚É£ Advanced Slicing with Steps

The **step parameter** allows skipping characters in a sequence.

### üîπ Example:

In [ ]:
word = "Language"
print(word[0:9:2])  # every 2nd character
print(word[::3])    # every 3rd character from the start
print(word[::-1])   # reverses the string

üîπ **Using slicing to reverse a string dynamically:**

In [ ]:
name = "Python Programming"
print("Reversed:", name[::-1])

1Ô∏è‚É£
2Ô∏è‚É£
3Ô∏è‚É£
4Ô∏è‚É£
5Ô∏è‚É£

# **Type Casting in Python: Int and Float**  

Type casting (type conversion) allows converting one data type into another, such as converting an **integer to a float** or a **float to an integer**.  

---

## **1Ô∏è‚É£. Converting Integer to Float**  
You can convert an **integer (`int`)** to a **floating-point number (`float`)** using the `float()` function.  

### **Example:**

In [ ]:
num_int = 10
num_float = float(num_int)
print("Integer to Float:",)
print(num_float, type(num_float))

## **2Ô∏è‚É£.Converting Float to Integer**
You can convert a **floating-point** number (float) to an **integer** (int) using the int() function.

`‚ö† Note:` This will truncate (remove the decimal part), not round the number.

In [ ]:
# Output: <class 'int'>
# Output: <class 'float'>

# Complex number example
num3 = 3 + 4j
print(type(num3))  # Output: <class 'complex'>

## **3Ô∏è‚É£. Converting String to Integer or Float**
Python allows converting strings to numbers if the string contains a valid numeric value.

**String to Integer**

In [ ]:
num_str = "25"
num_int = int(num_str)
print("String to Integer")
print(num_int, type(num_int))

**String to Float**

In [ ]:
num_str = "25.75"
num_float = float(num_str)
print("String to Float")
print(num_float, type(num_float))
# Output: 25.75 <class 'float'>

**‚ö† Invalid Conversion Example:**

In [ ]:
# num_str = "25.5a"
# num_int = int(num_str)

## **4Ô∏è‚É£. Converting Float to String and Integer to String**
You can convert numbers to strings using `str()`.

In [ ]:
num_int = 100
num_float = 12.34

str_int = str(num_int)
str_float = str(num_float)

print(str_int, type(str_int))
print(str_float, type(str_float))

# Collection Data Types - List in Python

# List: A sequential data type that holds multiple heterogeneous values separated by commas
# and enclosed in square brackets.

# Example:
grades = [85, 92, 78, 95]
a = [1, 2, 3, 5, 2.0, 65.0, 'lst']

### Attributes of List:
### ‚úÖ Mutable: We can modify/change the original data
### ‚úÖ Ordered: Index-based
### ‚úÖ Duplicates are allowed
### ‚úÖ Index-based

#### **CRUD** Operations: Create, Read, Update, Delete

# **List Method and Description**

| Method | Description |
|--------|------------|
| `append(x)` | Adds an item `x` to the end of the list. |
| `extend(iterable)` | Extends the list by appending all elements from an iterable. |
| `insert(i, x)` | Inserts item `x` at position `i`. |
| `remove(x)` | Removes the first occurrence of item `x`. |
| `pop([i])` | Removes and returns the item at index `i`. If `i` is not provided, removes the last item. |
| `clear()` | Removes all elements from the list. |
| `index(x, [start, end])` | Returns the index of the first occurrence of `x` between `start` and `end`. |
| `count(x)` | Returns the number of occurrences of `x` in the list. |
| `sort(key=None, reverse=False)` | Sorts the list in ascending order (can be customized using `key` and `reverse`). |
| `reverse()` | Reverses the elements of the list in place. |
| `copy()` | Returns a shallow copy of the list. |

## CREATE:

In [ ]:
empty_list = []  # Creating an empty list
empty_list_alt = list()  # Another way to create an empty list
list_with_values = [10, 20, 30, 40]  # Creating a list with values

# Example:
new_list = ["Python", "Java", "C++"]
print("Created List:", new_list)

## READ:

In [ ]:
# Using for loop to read values
for value in list_with_values:
    print("Reading value:", value)

## UPDATE:
### Using append() method

In [ ]:
list_with_values.append(50)  # Adds 50 at the end
print("After append:", list_with_values)

# Using extend() method

In [ ]:
list_with_values.extend([60, 70, 80])
print("After extend:", list_with_values)

## Using insert() method

In [ ]:
list_with_values.insert(2, 25)
print("After insert:", list_with_values)

# Example:
numbers = [1, 2, 3]
numbers.append(4)  # Adding at the end
numbers.insert(1, 10)  # Inserting at index 1
numbers.extend([5, 6, 7])  # Extending list
print("Updated List:", numbers)

## DELETE:
### Using remove() method

In [ ]:
list_with_values.remove(30)  # Removes the first occurrence of 30
print("After remove:", list_with_values)


## Using pop() method

In [ ]:
popped_element = list_with_values.pop()  # Removes the last element
print("Popped Element:", popped_element)
print("After pop:", list_with_values)

## Using del keyword

In [ ]:
del list_with_values[1]  # Deletes element at index 1
print("After del:", list_with_values)

In [ ]:
# Using clear() method
list_with_values.clear()  # Removes all elements
print("After clear:", list_with_values)

# Example:
fruits = ["apple", "banana", "cherry", "mango"]
fruits.pop(2)  # Removes 'cherry'
del fruits[0]  # Removes 'apple'
print("After deletion:", fruits)

## List Manipulation Methods with Examples:

### 1Ô∏è‚É£ append(): Adds an element to the end of the list.

In [ ]:
fruits = ['apple', 'banana']
lst = []  # Empty list
lst.append('cherry')
print("After append:", lst)

num = [1,2,3,4,5,6]
num.append(7)
print("After append:", num)

### 2Ô∏è‚É£ extend(): Extends the list by appending elements from another iterable.

In [ ]:
num1 = [1,2,3,4,5]
num2 = [6,7,8,9,10]
num1.extend(num2)
print("After extend:", num1)

fruits = ['apple', 'banana']
fruits.extend(['orange', 'grape'])
print("After extend:", fruits)


### 3Ô∏è‚É£ insert(): Inserts an element at a specific index.

In [ ]:
fruits = ['apple', 'banana']
fruits.insert(1, 'mango')
print("After insert:", fruits)

num2 = [1,2,3,4,5]
num2.insert(2, 10)
print("After insert:", num2)

num2.insert(0, 0)
print("After insert:", num2)

In [ ]:
### 4Ô∏è‚É£ remove(): Removes the first occurrence of a specified value.

In [ ]:
fruits = ['apple', 'banana']
fruits.remove('banana')
print("After remove:", fruits)

num2= [1,2,3,4,5,6]
num2.remove(3)
print("After remove:", num2)

num2.remove(1)
print("After remove:", num2)


# 5Ô∏è‚É£ pop(): Removes and returns the element at a specified index (default last element).

In [ ]:
fruits = ['apple', 'banana', 'orange', 'grape']

popped_fruit = fruits.pop()
print("Popped:", popped_fruit)
print("After pop:", fruits)

num = [1,2,3,4,5,6]
popped_num = num.pop(2)
print("Popped:", popped_num)
print("After pop:", num)

popped_num = num.pop(0)
print("Popped:", popped_num)
print("After pop:", num)

popped_num = num.pop()
print("Popped:", popped_num)
print("After pop:", num)

nums = [10, 20, 30, 40, 50]
popped_last = nums.pop()
popped_second = nums.pop(1)
print("After popping elements:", nums)



### 6Ô∏è‚É£ index(): Returns the index of the first occurrence of a specified value.

In [ ]:
fruits = ['apple','banana', 'orange', 'grape']
index_of_apple = fruits.index('apple')
print("Index of apple:", index_of_apple)

num = [1,2,3,4,5,6]
index_of_3 = num.index(3)
print("Index of 3:", index_of_3)

index_of_1 = num.index(1)
print("Index of 1:", index_of_1)

### 7Ô∏è‚É£ count(): Returns the number of occurrences of a specified element in the list.

In [ ]:
apple_count = fruits.count('apple')
print("Apple count:", apple_count)

lst = [10,10,20,30,20,20,30]
count_20 = lst.count(20)
print("Count of 20:", count_20)
print("Count of 30:",lst.count(30))

letters = ["a", "b", "c", "a", "b", "a"]
print("Count of 'a':", letters.count("a"))


# 8Ô∏è‚É£ sort(): Sorts the elements of the list in ascending order.

In [ ]:
numbers = [5, 1, 8, 3, 2]
numbers.sort()
print("Sorted list:", numbers)

# Example:
words = ["banana", "apple", "cherry"]
words.sort()
print("Sorted words:", words)


### 9Ô∏è‚É£ reverse(): Reverses the order of elements in the list.

In [ ]:
numbers.reverse()
print("Reversed list:", numbers)

names = ["Alice", "Bob", "Charlie"]
names.reverse()
print("Reversed names:", names)


### üîü clear(): Removes all elements from the list.

In [ ]:
numbers.clear()
print("Cleared list:", numbers)

## List Indexing and Slicing in Python


### 1Ô∏è‚É£ List Indexing
Indexing allows accessing individual elements of a list using their position.
- Python uses zero-based indexing.

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("First element:", my_list[0])
print("Last element:", my_list[-1])
print("Second element:", my_list[1])
print("Second last element:", my_list[-2])

### 2Ô∏è‚É£ List Slicing
Slicing allows extracting a sublist using the format: list[start:stop:step]

#### Extract elements from index 1 to 3 (excluding 4th element)

In [ ]:
print("Sliced list (1:4):", my_list[1:4])

#### Extract elements from start to index 3

In [ ]:
print("Sliced list (start to 3):", my_list[:3])

#### Extract elements from index 2 to the end

In [ ]:
print("Sliced list (2 to end):", my_list[2:])


#### Extract every second element

In [ ]:
print("Every second element:", my_list[::2])

#### Reverse a list using slicing

In [ ]:
print("Reversed list:", my_list[::-1])


#### 3Ô∏è‚É£ Advanced Slicing Examples
#### Extract every second element between index 1 and 4

In [ ]:
print("Every second element (1:5:2):", my_list[1:5:2])


#### Copying a list using slicing

In [ ]:
copied_list = my_list[:]
print("Copied list:", copied_list)

#### Modifying part of a list using slicing

In [ ]:
my_list[1:3] = ['blackberry', 'blueberry']
print("Modified list:", my_list)

### Advanced List Operations in Python

### 1Ô∏è‚É£ Copying a List (Shallow vs. Deep Copy)

In [ ]:
import copy
original = [1, 2, [3, 4]]
shallow_copy = original.copy()
deep_copy = copy.deepcopy(original)

shallow_copy[2][0] = 99
print("Original List:", original)  # Affected in shallow copy
print("Deep Copy List:", deep_copy)  # Unaffected

# Example of shallow copy issue
list1 = [[1, 2, 3], [4, 5, 6]]
shallow_list = list1.copy()
shallow_list[0][0] = 100
print("Original after shallow copy modification:", list1)

In [ ]:
import copy
original = [1, 2, [3, 4]]
shallow_copy = original.copy()
deep_copy = copy.deepcopy(original)

shallow_copy[2][0] = 99
print("Original List:", original)  # Affected in shallow copy
print("Deep Copy List:", deep_copy)  # Unaffected

# Example of shallow copy issue
list1 = [[1, 2, 3], [4, 5, 6]]
shallow_list = list1.copy()
shallow_list[0][0] = 100
print("Original after shallow copy modification:", list1)

In [ ]:
import copy

original = [1,2,[3,4]]
shallow_copy = original.copy()



### 2Ô∏è‚É£ List Comprehensions (Efficient List Creation)

In [ ]:
squares = [x**2 for x in range(10)]
even_numbers = [x for x in range(20) if x % 2 == 0]
print("Squares:", squares)
print("Even Numbers:", even_numbers)

# Example: Creating a list of uppercase strings
words = ["hello", "world", "python"]
uppercase_words = [word.upper() for word in words]
print("Uppercase Words:", uppercase_words)

# 3Ô∏è‚É£ Filtering Lists Using filter()

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_nums = list(filter(lambda x: x % 2 == 0, numbers))
print("Filtered Even Numbers:", even_nums)

# Example: Filtering names that start with 'A'
names = ["Alice", "Bob", "Amanda", "Charlie"]
filtered_names = list(filter(lambda name: name.startswith("A"), names))
print("Names starting with A:", filtered_names)

### 4Ô∏è‚É£ Mapping and Transforming Lists (map())

In [ ]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print("Squared Numbers:", squared)

# Example: Converting a list of strings to integers
string_numbers = ["10", "20", "30"]
integer_numbers = list(map(int, string_numbers))
print("Converted Integers:", integer_numbers)

### 5Ô∏è‚É£ Flattening a Nested List

In [ ]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [num for sublist in nested_list for num in sublist]
print("Flattened List:", flat_list)

# Example: Flattening a more complex nested list
complex_nested_list = [[[1, 2], [3]], [[4, 5], [6]]]
complex_flat_list = [num for sublist in complex_nested_list for inner in sublist for num in inner]
print("Complex Flattened List:", complex_flat_list)

### 6Ô∏è‚É£ Sorting with Custom Key (Sorting Based on String Length)

In [ ]:
words = ["banana", "apple", "strawberry", "kiwi"]
words.sort(key=len)
print("Sorted by Length:", words)

# Example: Sorting a list of dictionaries by a key
dict_list = [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 20}, {"name": "Charlie", "age": 30}]
dict_list.sort(key=lambda x: x["age"])
print("Sorted by Age:", dict_list)

### 7Ô∏è‚É£ Using enumerate() to Get Index While Looping

In [ ]:
colors = ["red", "green", "blue"]
for index, color in enumerate(colors):
    print(f"Index {index}: {color}")

# Example: Using enumerate to modify elements by index
num_list = [10, 20, 30, 40]
for index, num in enumerate(num_list):
    num_list[index] = num * 2
print("Doubled Numbers:", num_list)

```
---

# Tuple in Python

## 1Ô∏è‚É£ What is a Tuple?
A sequential data type that holds multiple heterogeneous values separated by commas.

Tuples are enclosed in parentheses `()`, but parentheses are optional.

# Python Tuple Methods and Descriptions

| Method | Description |
|--------|------------|
| `count(x)` | Returns the number of times `x` appears in the tuple. |
| `index(x, start, end)` | Returns the index of the first occurrence of `x` between `start` and `end`. Raises a `ValueError` if not found. |

In [ ]:
# Example of tuples
tuple1 = (100, 200, 21.33, "INDIA")
tuple2 = 100, 200, 21.33, "INDIA"
print("tuple1",tuple1)
print("type of tuple1",type(tuple1))
print("tuple2",tuple2)
print("type of tuple1",type(tuple1))

## Attributes of Tuple:
### ‚úÖ Immutable: We cannot modify/change the original data
### ‚úÖ Ordered: Index-based
### ‚úÖ Duplicates are allowed
### ‚úÖ Index-based


## CRUD Operations: Create, Read, Update, Delete

In [ ]:
# CREATE:
# Creating an empty tuple
empty_tuple = ()
 # Another way to create an empty tuple
empty_tuple_alt = tuple()
# Creating a tuple with values
tuple_with_values = (10, 20, 30, 40)
# Tuple with different data types
mixed_tuple = ("Python", 3.14, True, [1, 2, 3])

# READ:
# Accessing elements using indexing
tuple_example = ('apple', 'banana', 'cherry', 'date', 'elderberry')
print("First element:", tuple_example[0])
print("Last element:", tuple_example[-1])
print("Third element:", tuple_example[2])

## UPDATE:
- Tuples are immutable, so we CANNOT insert, replace, or delete elements individually.
- The only way to modify a tuple is by converting it into a list.

In [ ]:
tuple_to_list = list(tuple_example)
tuple_to_list.append("fig")  # Adding an element
tuple_to_list[1] = "blueberry"  # Modifying an element
modified_tuple = tuple(tuple_to_list)
print("Modified Tuple:", modified_tuple)

## DELETE:

We cannot delete individual elements from a tuple, but we can delete the entire tuple.

In [ ]:
tuple_delete = ("Python", "Java", "C++")
del tuple_delete  # This deletes the entire tuple

## Tuple Manipulation

### 1Ô∏è‚É£ index(): Returns the index of the first occurrence of a specified value in the tuple.

In [ ]:
tuple_numbers = (10, 20, 30, 20, 40, 50, 20)
print("Index of 20:", tuple_numbers.index(20))  # Returns 1 (first occurrence)

In [ ]:
# Handling ValueError
try:
    print("Index of 100:", tuple_numbers.index(100))
except ValueError:
    print("100 is not in the tuple")



### 2Ô∏è‚É£ count(): Returns the number of times a specified element appears in the tuple.

In [ ]:
print("Count of 20:", tuple_numbers.count(20))  # Returns 3

### Slicing tuples

In [ ]:
print("Tuple slice (1:4):", tuple_example[1:4])
print("Tuple slice with step (0:5:2):", tuple_example[0:5:2])
print("Reversed tuple:", tuple_example[::-1])

In [ ]:
# Nested Tuples
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print("Accessing nested element:", nested_tuple[1][2])  # Accessing 6 from second tuple

# Tuple Concatenation
tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)
concatenated_tuple = tuple_a + tuple_b
print("Concatenated Tuple:", concatenated_tuple)

# Tuple Replication
tuple_c = ("Hello",) * 3
print("Replicated Tuple:", tuple_c)  # ('Hello', 'Hello', 'Hello')

```
---

```

# Set in Python


## 1Ô∏è‚É£ What is a Set?
 1Ô∏è‚É£ What is a Set?

A set is an unordered collection of unique elements. It does not allow duplicates and is mutable.

Sets are commonly used to perform mathematical set operations like union, intersection, and difference.

# Python Set Methods and Descriptions

| Method | Description |
|--------|------------|
| `add(x)` | Adds element `x` to the set. |
| `clear()` | Removes all elements from the set. |
| `copy()` | Returns a shallow copy of the set. |
| `difference(set2)` | Returns a new set with elements that are in the current set but not in `set2`. |
| `difference_update(set2)` | Removes elements found in `set2` from the current set. |
| `discard(x)` | Removes element `x` from the set if it exists (does not raise an error if `x` is absent). |
| `remove(x)` | Removes element `x` from the set (raises `KeyError` if `x` is absent). |
| `pop()` | Removes and returns an arbitrary element from the set. |
| `intersection(set2)` | Returns a new set containing elements common to both sets. |
| `intersection_update(set2)` | Updates the current set, keeping only elements found in both sets. |
| `union(set2, set3, ...)` | Returns a new set containing all elements from all given sets. |
| `update(set2, set3, ...)` | Updates the current set, adding elements from other sets. |
| `issubset(set2)` | Returns `True` if all elements of the set exist in `set2`. |
| `issuperset(set2)` | Returns `True` if all elements of `set2` exist in the current set. |
| `isdisjoint(set2)` | Returns `True` if there are no common elements between the sets. |
| `symmetric_difference(set2)` | Returns a new set with elements in either set, but not in both. |
| `symmetric_difference_update(set2)` | Updates the current set with elements from either set, but not both. |

In [ ]:
# Creating a set with values
unique_numbers = {1, 2, 3, 4, 5}
# Creating an empty set ({} creates a dictionary)
empty_set = set()


## Attributes of Set:
#### ‚úÖ Mutable: We can modify/change the original data
#### ‚úÖ Unordered: No indexing or slicing
#### ‚úÖ No Duplicates: Each element is unique


## 2Ô∏è‚É£ CRUD Operations: Create, Read, Update, Delete

### CREATE
#### Creating a set with values

In [1]:
set_with_values = {10, 20, 30, 40, 50}
print("Created Set:", set_with_values)

Created Set: {50, 20, 40, 10, 30}

## READ:
#### Accessing elements using a loop (since sets are unordered, elements appear randomly)

In [2]:
for item in set_with_values:
    print("Set item:", item)

Set item: 50
Set item: 20
Set item: 40
Set item: 10
Set item: 30

In [3]:
# Checking membership in a set
print("Is 20 in set?", 20 in set_with_values)
print("Is 100 in set?", 100 in set_with_values)

Is 20 in set? True
Is 100 in set? False

## UPDATE:
#### Using add() method

In [4]:
# Adds 60 to the set
set_with_values.add(60)
print("After add:", set_with_values)

After add: {50, 20, 40, 10, 60, 30}

In [5]:
# Using update() method (adds multiple elements)
set_with_values.update([70, 80, 90, 10])  # Duplicates are ignored
print("After update:", set_with_values)

After update: {70, 10, 80, 20, 90, 30, 40, 50, 60}

### DELETE:
#### Using remove() method (raises an error if element not found)

In [6]:
set_with_values.remove(30)  # Removes 30 from the set
print("After remove:", set_with_values)

After remove: {70, 10, 80, 20, 90, 40, 50, 60}

#### Using discard() method (no error if element is not found)

In [7]:
set_with_values.discard(100)  # Tries to remove 100, but no error
print("After discard:", set_with_values)

After discard: {70, 10, 80, 20, 90, 40, 50, 60}


### Using pop() method (removes and returns a random element)

In [8]:
popped_element = set_with_values.pop()
print("Popped Element:", popped_element)
print("After pop:", set_with_values)

Popped Element: 70
After pop: {10, 80, 20, 90, 40, 50, 60}

#### Using `clear()` method (removes all elements)

In [9]:
set_with_values.clear()
print("After clear:", set_with_values)

After clear: set()

# 3Ô∏è‚É£ Set Methods with Examples:


## 1Ô∏è‚É£ intersection(): Returns common elements between two sets

In [10]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
print("Intersection:", set_a.intersection(set_b))

Intersection: {3, 4}

## 2Ô∏è‚É£ intersection_update(): Updates set with common elements

In [11]:
set_a.intersection_update(set_b)
print("After intersection_update:", set_a)

After intersection_update: {3, 4}

## 3Ô∏è‚É£ union(): Returns all unique elements from both sets

In [12]:
set_c = {7, 8, 9}
print("Union:", set_b.union(set_c))

Union: {3, 4, 5, 6, 7, 8, 9}

## 4Ô∏è‚É£ difference(): Returns elements in one set but not the other

In [13]:
print("Difference:", set_b.difference(set_c))

Difference: {3, 4, 5, 6}

## 5Ô∏è‚É£ difference_update(): Updates set by removing common elements

In [14]:
set_b.difference_update(set_c)
print("After difference_update:", set_b)

After difference_update: {3, 4, 5, 6}


## 6Ô∏è‚É£ symmetric_difference(): Returns elements not in both sets

In [15]:
set_x = {1, 2, 3, 4}
set_y = {3, 4, 5, 6}
print("Symmetric Difference:", set_x.symmetric_difference(set_y))

Symmetric Difference: {1, 2, 5, 6}


## 7Ô∏è‚É£ symmetric_difference_update(): Updates set with symmetric difference

In [16]:
set_x.symmetric_difference_update(set_y)
print("After symmetric_difference_update:", set_x)

After symmetric_difference_update: {1, 2, 5, 6}


## 8Ô∏è‚É£ isdisjoint(): Checks if two sets have no common elements

In [17]:
set_m = {10, 20, 30}
set_n = {40, 50, 60}
print("Is Disjoint:", set_m.isdisjoint(set_n))

Is Disjoint: True

## 9Ô∏è‚É£ issubset(): Checks if a set is a subset of another

In [18]:
set_p = {1, 2}
set_q = {1, 2, 3, 4}
print("Is Subset:", set_p.issubset(set_q))

Is Subset: True

## üîü issuperset(): Checks if a set is a superset of another

In [ ]:
print("Is Superset:", set_q.issuperset(set_p))

## 1Ô∏è‚É£1Ô∏è‚É£ Copying a set

In [19]:
original_set = {1, 2, 3}
copied_set = original_set.copy()
print("Copied Set:", copied_set)

Copied Set: {1, 2, 3}

## 1Ô∏è‚É£2Ô∏è‚É£ Frozen Set: An immutable set

In [22]:
frozen_set = frozenset({1, 2, 3, 4})
print("Frozen Set:", frozen_set)
#frozen_set.add(5)  # This will raise an error as frozensets are immutable

Frozen Set: frozenset({1, 2, 3, 4})


## 1Ô∏è‚É£3Ô∏è‚É£ Nested Sets (Not Allowed Directly, but Can Use frozenset)

In [23]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print("Nested Set:", nested_set)

Nested Set: {frozenset({3, 4}), frozenset({1, 2})}


## 1Ô∏è‚É£4Ô∏è‚É£ Finding Maximum and Minimum values in a set

In [24]:
num_set = {10, 20, 30, 40, 50}
print("Max Value:", max(num_set))
print("Min Value:", min(num_set))

Max Value: 50
Min Value: 10

## 1Ô∏è‚É£5Ô∏è‚É£ Converting a list to a set (Removing Duplicates)

In [25]:
duplicate_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(duplicate_list)
print("Unique Set from List:", unique_set)

Unique Set from List: {1, 2, 3, 4, 5}

## 1Ô∏è‚É£6Ô∏è‚É£ Set Comprehension: Creating a set using a loop

In [26]:
squared_numbers = {x**2 for x in range(1, 6)}
print("Squared Numbers Set:", squared_numbers)

Squared Numbers Set: {1, 4, 9, 16, 25}

## 1Ô∏è‚É£7Ô∏è‚É£ Finding Common Elements Between Multiple Sets

In [27]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
set_3 = {4, 5, 6, 7, 8}
common_elements = set_1 & set_2 & set_3
print("Common Elements in all sets:", common_elements)

Common Elements in all sets: {4, 5}

## 1Ô∏è‚É£8Ô∏è‚É£ Advanced: Creating a Set of Tuples

In [28]:
set_of_tuples = {(1, 2), (3, 4), (5, 6)}
print("Set of Tuples:", set_of_tuples)

Set of Tuples: {(1, 2), (3, 4), (5, 6)}


## 1Ô∏è‚É£9Ô∏è‚É£ Checking if Any Element in a Set Meets a Condition

In [29]:
numbers = {10, 20, 30, 40}
print("Any number > 25?", any(num > 25 for num in numbers))
print("All numbers > 5?", all(num > 5 for num in numbers))

Any number > 25? True
All numbers > 5? True

```
---
```

# Dictionay in Python

# Complete Guide to Dictionary in Python

## **1Ô∏è‚É£ What is a Dictionary?**
A dictionary is a collection of key-value pairs where each key is unique, and values can be of any data type.

- **Keys**: Must be immutable (e.g., string, number, tuple).
- **Values**: Can be any data type.
- **Order**: Preserved (Python 3.7+).

## **üî• Summary Table of Dictionary Methods**
| Method | Description |
|--------|-------------|
| `dict.keys()` | Returns all keys in dictionary |
| `dict.values()` | Returns all values in dictionary |
| `dict.items()` | Returns key-value pairs |
| `dict.get(key, default)` | Retrieves value safely |
| `dict.update(dict2)` | Merges two dictionaries |
| `dict.setdefault(key, default)` | Inserts key if missing |
| `dict.pop(key, default)` | Removes key and returns value |
| `dict.popitem()` | Removes last key-value pair |
| `dict.clear()` | Empties the dictionary |
| `dict.fromkeys(keys, value)` | Creates dictionary from keys |
| `len(dict)` | Returns number of key-value pairs |

In [30]:
student = {
    "name": "vivek",
    "age": 21,
    "major": "Computer Science"
}
print(student)

{'name': 'vivek', 'age': 21, 'major': 'Computer Science'}

In [31]:
student

{'name': 'vivek', 'age': 21, 'major': 'Computer Science'}


## **2Ô∏è‚É£ CRUD Operations: Create, Read, Update, Delete**

### **üü¢ CREATE a Dictionary**

In [58]:
# Empty dictionary
empty_dict = {}
empty_dict2 = dict()

In [59]:
# Dictionary with values
student = {"name": "vivek", "age": 21, "major": "CS"}
print(student)

{'name': 'vivek', 'age': 21, 'major': 'CS'}

In [60]:
# Using dict() function
person = dict(name="Akshay", age=25, city="HYD")

In [61]:
# Creating dictionary using fromkeys()
keys = ['name', 'age', 'gender']
default_dict = dict.fromkeys(keys,"not specified")
default_dict

{'name': 'not specified', 'age': 'not specified', 'gender': 'not specified'}

### **üìó READ from Dictionary**
#### **1Ô∏è‚É£ Access Value using Key**

‚úÖ `get()` is safer than direct access as it avoids errors if the key doesn't exist.

In [62]:

print(student["name"])
print(student.get("age"))

vivek
21

#### **2Ô∏è‚É£ Using `keys()`, `values()`, `items()`**

In [63]:
print("Keys:\n",student.keys())
print("Values:\n",student.values())
print("Items:\n",student.items())

Keys:
 dict_keys(['name', 'age', 'major'])
Values:
 dict_values(['vivek', 21, 'CS'])
Items:
 dict_items([('name', 'vivek'), ('age', 21), ('major', 'CS')])



#### **3Ô∏è‚É£ Loop Through Dictionary**

In [64]:
for key in student:
    print(key, ":", student[key])

name : vivek
age : 21
major : CS

In [65]:
# Loop through key-value pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: vivek
age: 21
major: CS

### **üìù UPDATE Dictionary**
####  Updating a single key-value pair

In [66]:
student["age"] = 22
print("updated student:\n",student)

updated student:
 {'name': 'vivek', 'age': 22, 'major': 'CS'}

### Using update() to add multiple values

In [67]:
student.update({"city": "Mahashtra", "GPA": 3.9})
print(student)

{'name': 'vivek', 'age': 22, 'major': 'CS', 'city': 'Mahashtra', 'GPA': 3.9}

#### **Using `setdefault()` (Insert if key is missing)**

In [68]:
student.setdefault("hobby", "Reading")
print(student)

{'name': 'vivek', 'age': 22, 'major': 'CS', 'city': 'Mahashtra', 'GPA': 3.9, 'hobby': 'Reading'}

### **üõë DELETE from Dictionary**

In [69]:
# Using del keyword
del student["major"]
print(student)

{'name': 'vivek', 'age': 22, 'city': 'Mahashtra', 'GPA': 3.9, 'hobby': 'Reading'}

In [70]:
# Using pop() (returns deleted value)
age = student.pop("age")
print(age)  # Output: 22

22

In [72]:
# Using popitem() (removes last item in Python 3.7+)
last_item = student.popitem()
print(last_item)

('hobby', 'Reading')

In [73]:
# Using clear() (removes all elements)
student.clear()
print(student)

{}

## **3Ô∏è‚É£ Advanced Dictionary Operations**

### **üìå Nested Dictionary (Dictionary inside Dictionary)**

In [74]:
company = {
    "employee1": {"name": "vivek", "age": 26},
    "employee2": {"name": "Charan", "age": 25}
}
print(company["employee1"]["name"])

vivek

### **üìå Dictionary Comprehension (Create Dictionary Dynamically)**

In [75]:
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### **üìå Merging Two Dictionaries (`|` operator in Python 3.9+)**

In [76]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = dict1 | dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## **4Ô∏è‚É£ Dictionary Coding Challenges**
### **‚úÖ Count Word Frequency in a Sentence**

In [78]:

sentence = "data science is amazing and data is powerful"
word_count = {}
words = sentence.split()
for word in words:
    word_count[word] = word_count.get(word, 0) + 1
print(word_count)

{'data': 2, 'science': 1, 'is': 2, 'amazing': 1, 'and': 1, 'powerful': 1}

### **‚úÖ Swap Keys and Values**

In [79]:
original_dict = {"a": 1, "b": 2, "c": 3}
swapped_dict = {v: k for k, v in original_dict.items()}
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}

### **‚úÖ Find Common Keys in Two Dictionaries**

In [81]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 5, "c": 10, "d": 15}
common_keys = dict1.keys() & dict2.keys()
print(common_keys)

{'b', 'c'}

### **‚úÖ Convert List of Tuples to Dictionary**

In [82]:
data = [("name", "Alice"), ("age", 25), ("city", "NY")]
dictionary = dict(data)
print(dictionary)

{'name': 'Alice', 'age': 25, 'city': 'NY'}

# Difference Between List, Tuple, Set, and Dictionary

| Feature        | List | Tuple | Set | Dictionary |
|---------------|------|-------|-----|------------|
| **Definition** | Ordered, mutable collection of elements. | Ordered, immutable collection of elements. | Unordered collection of unique elements. | Unordered collection of key-value pairs. |
| **Mutable?** | ‚úÖ Yes (Can be changed) | ‚ùå No (Immutable) | ‚úÖ Yes (Can be changed) | ‚úÖ Yes (Keys are immutable, values can change) |
| **Duplicates Allowed?** | ‚úÖ Yes | ‚úÖ Yes | ‚ùå No | ‚ùå No (Keys must be unique) |
| **Order Maintained?** | ‚úÖ Yes (Ordered) | ‚úÖ Yes (Ordered) | ‚ùå No (Unordered) | ‚úÖ Yes (Python 3.7+ maintains order) |
| **Indexing & Slicing?** | ‚úÖ Yes | ‚úÖ Yes | ‚ùå No | ‚ùå No (Uses keys instead) |
| **Methods Available** | Many (append, pop, remove, sort, etc.) | Few (count, index) | Set operations (union, intersection, difference, etc.) | Key-based operations (keys, values, items, etc.) |
| **Performance** | Slower than tuples | Faster than lists | Fast for membership tests | Fast for lookups using keys |
| **Use Case** | When you need an ordered, changeable collection | When you need an ordered, unchangeable collection | When you need a collection of unique elements | When you need key-value pairs for fast lookups |

```

---

```

# **Flow Control**

Flow control in Python allows you to control the execution flow of a program based on certain conditions. Python provides various constructs for flow control, including conditional statements and loops. These control structures enable you to make decisions and execute specific code blocks under different conditions.

### Control Flow Statements

The flow control statements are divided into:

1. **Conditional Statements**
   - `if` statement
   - `if-else` statement
   - `if-elif-else` statement

2. **Iterative Statements (Loops)**
   - `for` loop
   - `while` loop

3. **Transfer Statements**
   - `break` statement
   - `continue` statement
   - `pass` statement

![Screenshot 2025-03-11 232232.png]()

### 1. Conditional Statements
Conditional statements allow the execution of certain blocks of code based on conditions.

#### **if statement**
Executes a block of code if the condition evaluates to `True`.

In [83]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

### Example 2: Checking even number

In [84]:
num = 8
if num % 2 == 0:
    print("Even number")

Even number

### Example 3: Checking string presence

In [85]:
word = "Python"
if "y" in word:
    print("'y' is in Python")

'y' is in Python

### Example 4: Checking positive number

In [86]:
num = 3
if num > 0:
    print("Positive number")

Positive number

### Example 5: Nested if condition

In [87]:
x = 15
if x > 10:
    if x < 20:
        print("x is between 10 and 20")

x is between 10 and 20

#### **if-else statement**
Executes one block of code if the condition is `True`, otherwise executes another block.

In [88]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

### Example 2: Odd-Even Check

In [89]:
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

#### Example 3: String comparison

In [91]:
string = "hello"
if string == "Hello":
    print("Match")
else:
    print("No match")

No match

#### **if-elif-else statement**

Used when multiple conditions need to be checked.

In [92]:
x = 7
if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but less than or equal to 10")  # Output: x is greater than 5 but less than or equal to 10
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 10


### Example 2: Grading System

In [93]:
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Fail")

Grade: B


### 2. Iterative Statements (Loops)

Loops are used to repeat a block of code multiple times.


#### **for loop**
Used to iterate over a sequence (list, tuple, string, etc.).

In [94]:

for i in range(5):  # Loops from 0 to 4
    print(i)

0
1
2
3
4

### Example 2: Iterating over a string

In [95]:
for char in "Python":
    print(char)

P
y
t
h
o
n

### Example 3: Iterating over a list

In [96]:
numbers = [10, 20, 30]
for num in numbers:
    print(num)

10
20
30

#### **while loop**
Repeats as long as a condition remains `True`.

In [97]:
x = 0
while x < 5:
    print(x)
    x += 1  # Increment x
# Output: 0 1 2 3 4

0
1
2
3
4

### Example 2: Countdown

In [98]:
num = 5
while num > 0:
    print(num)
    num -= 1

5
4
3
2
1

### 3. Transfer Statements
Transfer statements control the flow of execution within loops.

#### **break statement**
Exits the loop immediately when encountered.

In [99]:
for i in range(10):
    if i == 5:
        break  # Loop stops at 5
    print(i)

0
1
2
3
4

#### **continue statement**
Skips the current iteration and moves to the next.

In [100]:
for i in range(5):
    if i == 2:
        continue  # Skips printing 2
    print(i)

0
1
3
4

#### **pass statement**
A placeholder that does nothing but maintains code structure.

In [101]:
for i in range(5):
    if i == 2:
        pass  # Placeholder for future implementation
    print(i)

0
1
2
3
4